.drum-pad {
  background: radial-gradient($maschine1 40%, $maschine2);
  border-radius: 5px;
  border: 1px solid $maschine2;
  box-shadow: 0.5px 0.5px 4px $shadow;
  color: $dark-gray;
  font-family: 'Nunito', sans-serif;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

button:focus {
  outline: none !important;
}

.drum-pad.active {
  border: 1px solid $active-border; 
  background: radial-gradient($active-center, $active-border);
  outline: none;
}

.drum-pad > .button-text {
  margin-top: 15px;
  margin-left: 15px;
}

.pads {
  display: grid;
  grid-template: repeat(3, 100px) / repeat(4, 100px);
  grid-gap: 10px;
  grid-template-areas:  "pad pad pad side"
                        "pad pad pad side"
                        "pad pad pad side";
}
