.drum-pad {
  background: radial-gradient($maschine1 40%, $maschine2);
  border-radius: 5px;
  border: 1px solid $maschine2;
  box-shadow: 0.5px 0.5px 4px $shadow;
  outline: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.drum-pad.active {
  border: 1px solid $active-border;
  animation: Active .3s linear;
}

@keyframes Active {
  0% {
    background: radial-gradient($active-center, $active-border);
  }
  100% {
    background: radial-gradient($maschine1 40%, $maschine2);
  }
}

.drum-pad > .button-text {
  margin-top: 15px;
  margin-left: 15px;
}

.pads {
  display: grid;
  grid-template: repeat(3, 100px) / repeat(4, 100px);
  grid-gap: 10px;
  grid-template-areas:  "pad pad pad side"
                        "pad pad pad side"
                        "pad pad pad side";
}
