#drum-machine {
  background-color: $dark-grey;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px 1px $shadow-grey;
  border-radius: 3px;
  display: grid;
  grid-template-rows: 60px auto;
  grid-gap: 10px;
  padding: 15px;
  max-width: 450px;
  min-width: 450px;
}
