*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// transformar o tamanho da fonte padrão de 16 px para 10 px (16 * 0.625 = 10)
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
