// Colors
$active-center: #e66465;
$active-border: #9198e5;
$dark-green: #6F8561;
$green: #75e54ca2;
$dark-gray: #111;
$gray: #374047;
$shadow: #5f6363;
$yellow: #f0e370;
$off-white: #FAF1D2;
$maschine1: #f0ac2e;
$maschine2: #bb7424;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
